/* Add additional stylesheets below
-------------------------------------------------- */
/*
  Bootstrap's documentation styles
  Special styles for presenting Bootstrap's documentation and examples
*/

/* Body and structure
-------------------------------------------------- */
body {
  background-color: #fff;
  position: relative;
}
section {
  padding-top: 60px;
}
section > .row {
  margin-bottom: 10px;
}

section#pwdlist img{
    height: 16px;
    width: 16px;
}
section#pwdlist img.showpwd{
    height: 16px;
    width: 25px;
}
section#pwdlist img.clipboard{
    margin-left: 20px;
    height: 16px;
    width: 16px;
}
section#pwdlist img.go{
    margin-left: 20px;
    height: 16px;
    width: 16px;
}
span.pwd{
    margin-right: 5px;
    display: none;
}
/* Visualizer
-------------------------------------------------- */
#chart {
    text-align:center;
}
#chart svg{
    border-style:solid;
    border-width:5px;
}
#obfuscatePassword {
    display:none;
}
#passwordStrength {
    padding:5px;
}
#passwordStrengthContainer {
    border:1px solid;
    height:10px;
}
#passwordStrengthCanvas {
    width:60px;
    height:10px;
}
.passwordHashImage {
    width:200px;
    height:15px;
}

.infoPopup {
    display:none;
    position:absolute;
    background-color:#ffffff;
    border:2px dashed;
    padding: 15px;
}



#complexity {
    height: 20px;
    padding: 10px;
    text-align: center;
}
.weak{background-color: #FF5353;}
.strong{background-color: #FAD054;}
.stronger{background-color: #93C9F4; }
.strongest{background-color: #B6FF6C;}

/*
|--------------------------------------------------------------------------
| UItoTop jQuery Plugin 1.1
| http://www.mattvarone.com/web-design/uitotop-jquery-plugin/
|--------------------------------------------------------------------------
*/

#toTop {
    display:none;
    text-decoration:none;
    position:fixed;
    bottom:10px;
    right:10px;
    overflow:hidden;
    width:51px;
    height:51px;
    border:none;
    text-indent:-999px;
    background:url(../icons/ui.totop.png) no-repeat left top;
}

#toTopHover {
    background:url(../icons/ui.totop.png) no-repeat left -51px;
    width:51px;
    height:51px;
    display:block;
    overflow:hidden;
    float:left;
    opacity: 0;
    -moz-opacity: 0;
    filter:alpha(opacity=0);
}

#toTop:active, #toTop:focus {
    outline:none;
}
