<div class="row-fluid">
    <div class="span3">
        <form class="form-search">
            <input type="text" class="span12 search-query" placeholder='Rechercher'>
        </form>
    </div>

    <div class="span6">
    </div>

    <div class="span3" style='text-align:right;'>
        <a class="btn" href="" name="add">
            <i class="icon-plus-sign"></i>
            Ajouter
        </a>
    </div>
</div>
<!-- /Buttons && Search -->

<div class="row-fluid">
    <table class="table table-striped table-bordered" id="pwdlist">
        <thead>
            <tr>
                <th class="blue sortable">Site</th>
                <th class="green sortable">Identifiant</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <% _.each(passwords, function(password) { %>
            <tr data-id="<%=password.id%>">
                <td>
                    <a href="<%=password.site%>" target="_blank"><%=password.site%></a>
                </td>
                <td><%=password.login%></td>
                <td>
                    <span><i class="icon-pencil"></i></span>
                    <span style="position:relative" class="copy-username" data-copy="<%=password.login%>"><i class="icon-user"></i></span>
                    <span style="position:relative" class="copy-password" data-copy="<%=password.pwd%>"><i class="icon-lock"></i></span>
                    <span><i class="icon-remove" data-id="<%=password.id%>"></i></span>
                </td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</div>
