<div class="well sidebar-nav">
    <ul class="nav nav-list">

    <% if (master.length) { %>
        <li class="nav-header">My stuff</li>
        <% _.each(master, function(app) { %>
        <li><a name="<%=app.name%>">
            <i class="<%=app.icon%>"></i>
            <%=app.label%>
        </a></li>
        <% });  %>
    <% }%>

    <% if (extend.length) { %>
        <li class="nav-header">My Apps</li>
        <% _.each(extend, function(app) { %>
        <li><a name="<%=app.name%>">
            <i class="<%=app.icon%>"></i>
            <%=app.label%>
        </a></li>
        <% });  %>
    <% }%>

    <% if (setting.length) { %>
        <li class="nav-header">Settings</li>
        <% _.each(setting, function(app) { %>
        <li><a name="<%=app.name%>">
            <i class="<%=app.icon%>"></i>
            <%=app.label%>
        </a></li>
        <% });  %>
    <% }%>

    </ul>
</div><!--/.well -->
