<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">
                <img src="./img/logo-white.png" alt="" height="28" />
                pwdremind
            </a>
            <div class="nav-collapse">
                <ul class="nav">
                <% _.each(menu, function (entry) {
                    if (current !== null && entry.name === current.context){
                    %><li class="active"><%
                    } else {
                    %><li><%
                    }
                    %>
                        <a href="#" data-context="<%=entry.name%>">
                            <i class="<%=entry.icon%> icon-white"></i>
                            <span><%=entry.label%></span>
                        </a>
                    </li>
                <% });%>
                </ul>
                <ul class="nav pull-right">
                <% _.each(masterApp, function (entry) {
                    if (current !== null && entry.name === current.app.name){
                    %><li class="active"><%
                    } else {
                    %><li><%
                    }
                    %>
                        <a href="#" data-app="<%=entry.name%>">
                            <i class="<%=entry.icon%> icon-white"></i>
                            <span><%=entry.label%></span>
                        </a>
                    </li>
                <% });%>
                    <li>
                        <a href="#" name="logout">
                            <i class="icon-off icon-white"></i>
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<% if (current !== null && current.context !== null) { %>
<div class="subnav subnav-fixed">
    <ul class="nav nav-pills">
    <% _.each(apps[current.context].apps, function (app) {
        if (app.name === current.app.name){
        %><li class="active"><%
        } else {
        %><li><%
        }
        %>
            <a href="#" data-context="<%=current.context%>" data-app="<%=app.name%>">
                <i class="<%=app.icon%>"></i>
                <%=app.label%>
            </a>
        </li>
    <% });%>
    </ul>
</div>
<% } %>
