<!-- Navbar -->
<div class="navbar navbar-fixed-top" >
    <div class="navbar-inner">
        <div class="container">

            <a class="brand" href="#">Password remind</a>
            <div class="nav-collapse">
            <% if (logged) { %>
                <ul class="nav pull-right">
                    <li><a href="#logout" name="logout">
                        Username
                        <i class="icon-off icon-white"></i>
                    </a></li>
                </ul>
            <% } %>
            </div>

        </div>
    </div>
</div>
<!-- /Navbar -->
