/* Body and structure
-------------------------------------------------- */
body {
  position: relative;
  padding-top: 60px;
  background-color: #fff;
}


/*     Form input align hack
------------------------------------------------------*/
form#addentry input#site,
form#addentry input#login,
form#addentry select{
    width: 262px;
}
